  /*
  #f3ddb9
  */
  /* */

  .counter{
    font-size: xx-large;
    border: 3px inset white;
    background: #f8414e;
    height: 80%;
    width: 5%;
    margin: 10px;
    color: #ffffff;
    border-radius: 100px;
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: center;
    align-items: center;
  }

  .link{
    height: 50%;
    display: contents;
  }

  .new_game{
    border: 3px inset white;
    background: #f8414e;
    height: 50%;
    color: #ffffff;
    border-radius: 10px;
  }

  .new_game:active{
    box-shadow: inset 0 0 10px #ad1544;
  }
  
  .controls{
    border-top: 3px inset white;
    background: #f8414e;
    position: absolute;
    bottom: 0px;
    display: flex;
    height: 15%;
    width: 100%;
    align-items: center;
    flex-flow: row;
    justify-content: center;
  }

  .fifteen_game_modal{
    border: 3px inset white;
    background: #f8414e;
    z-index: 1;
    border-radius: 10px;
    left: 50%;
    margin-left: -200px;
    top: 25%;
    margin-top: -100px;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 400px;
    width: 400px;
  }
  
  .fifteen_game_container{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    background: transparent;
  }
  
  .real_cell{
    color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 10px;
    background: #f8414e;
    height: 96px;
    width: 96px;
    margin: 0px;
    border: 3px inset white;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .null_cell{
    pointer-events: none;
    position: relative;
    border-radius: 10px;
    border-radius: 10px;
    background: transparent;
    height: 99px;
    width: 99px;
    margin: 0px;
    border: 2px solid transparent;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  
  .game_field{
    left: 50%;
    margin-left: -200px;
    top: 25%;
    margin-top: -100px;
    position: absolute;
    display: block;
    height: 400px;
    width: 400px;
    background: transparent;
  }

  .dummy_field{
    left: 50%;
    margin-left: -200px;
    top: 25%;
    margin-top: -100px;
    position: absolute;
    z-index: -1;
    display: block;
    height: 400px;
    width: 400px;
    background: #ffdcde;
  }

  .dummy_background{
    background-color: #ffdcde;
    z-index: -2;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .dummy_cell{
    border-radius: 10px;
    z-index: -1;
    border-radius: 10px;
    background: #ffb2b6;
    height: 99px;
    width: 99px;
    margin: 0px;
    box-shadow: inset 0 0 10px #ad1544;
    border: 1px solid transparent;
  }
  
  
  
  .dummy_row{
    display: flex;
  }

