  /*
  #f3ddb9
  */
  
  .fifteen_game_container{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    background: transparent;
  }
  
  .real_cell{
    color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 10px;
    background: #f8414e;
    height: 96px;
    width: 96px;
    margin: 0px;
    border: 3px inset white;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .null_cell{
    pointer-events: none;
    position: relative;
    border-radius: 10px;
    border-radius: 10px;
    background: transparent;
    height: 99px;
    width: 99px;
    margin: 0px;
    border: 2px solid transparent;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  
  .game_field{
    top: 10%;
    left: 30%;
    right: 30%;
    position: absolute;
    display: block;
    height: 400px;
    width: 400px;
    background: transparent;
  }

  .dummy_field{
    top: 10%;
    left: 30%;
    right: 30%;
    position: absolute;
    z-index: -1;
    display: block;
    height: 400px;
    width: 400px;
    background: #ffdcde;
  }

  .dummy_background{
    background-color: #ffdcde;
    z-index: -2;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .dummy_cell{
    border-radius: 10px;
    z-index: -1;
    border-radius: 10px;
    background: #ffb2b6;
    height: 99px;
    width: 99px;
    margin: 0px;
    box-shadow: inset 0 0 10px #ad1544;
    border: 1px solid white;
  }
  
  
  
  .dummy_row{
    display: flex;
  }

