html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: "Wheaton Capitals";
  src: url('../public/fonts/wheaton_capitals.otf');
  font-weight: normal;
  font-style: normal;
}