
/*
pallet
#1c1b1b black
#fff1e8 white
#d5d7b6
#c5d6db
#cfb2df
#ff4ded pink
#ff4242 red
#ff7d00 orange
#ffcf29
#ffff00 yellow
#00f73a green
#5be3e3 blue
#29adff blue
#6d4626 brown
#ab5236
#be6e2b
*/

@font-face {
  font-family: "Wheaton Capitals";
  src: url('../public/fonts/wheaton_capitals.otf');
  font-weight: normal;
  font-style: normal;
}
/*
body {
  height: 100%;
  background-color: #1c1b1b;
  color: #00f73a;
  font-family: "Wheaton Capitals";
}*/

.home_container {
  display: flex;
  background-color: #1c1b1b;
  color: #00f73a;
  font-family: "Wheaton Capitals";
  height: 100%;
  width: 100%;
  position: absolute;
}

.line {
    filter: drop-shadow(2px 6px 6px white);
    background: aliceblue;
    position: absolute;
    z-index: 10;
    height: 1px;
    width: 100%;
    animation-duration: 5s;
    animation-name: scan-line;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mask {
  opacity: 40%;
  filter: drop-shadow(1px 1px 1px white);
  position: absolute;
  pointer-events: none;
  z-index: 1;
  height:100%; 
  width:100%; 
  background-image: repeating-linear-gradient(0deg, transparent, transparent 9px, #ccc 10px, #ccc 5px),
  repeating-linear-gradient(-90deg, transparent, transparent 9px, #ccc 9px, #ccc 10px);   
}

@keyframes scan-line {
  
  from {
    top: 0%;
  }

  to {
    top: 100%;
  }
}
