.watch_container {
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px 4px 6px black);
    height: 100%;
    width: 100%;
  }


.watch_digit_container{
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.watch_separator_container{
  vertical-align: middle;
  width: 20%;
}
  
  
.watch_digit_container > svg {
    margin: 5px;
}

.filter {
  display: none;
}